
/* navebar*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
   list-style: none;
   padding: 0 20px;
   position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
color: blueviolet;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: blueviolet;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar  input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  /* SEARCH BAR SACTION 1*/

/* CSS for the section */
.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 120px;
    text-align: center;
}

.orders-col{
   
    align-items:left;
    justify-content: space-between;
   border-bottom:1px solid silver;
  
}

.searchbar {
    display: flex;
    align-items: center;
    margin-left: 500px; /* Adjust margin as needed */
}

.form-control {
    border-radius: 2px; /* Remove rounded corners if not desired */
}

.search-button{ border: radius 10px;; }

.order-list{
    align-items:left;
    justify-content: space-between;
   border-bottom:1px solid silver;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(8, 8, 10);
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .dropdown:hover .dropbtn {
    background-color: rgb(117, 117, 119);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cfcfcf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }